<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thememorandum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Mine.important_thing.createOrEditAlert" android:parentActivityName=".Mine.important_thing.important_thing"
            android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Mine.important_thing.important_thing" />

        </activity>
        <activity android:name=".Mine.Timer" />
        <activity
            android:name=".Mine.important_thing.important_thing"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Mine.Weather.WeatherActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Alarm.AlarmDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Alarm.AlarmScreenActivity" />
        <activity android:name=".EditDiary.PlusImageActivity" />
        <activity
            android:name=".EditDiary.EditDiary"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Mine.User" />
        <activity android:name=".Login" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 解决7.0照相机崩溃问题 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Alarm.AlarmService"
            android:enabled="true" />

        <receiver android:name=".Alarm.AlarmSetClock">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6qb7noXG4IrWtmEqLbkYXewjKOO2yijH" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 备忘录功能 -->
        <receiver android:name=".Mine.important_thing.AlarmSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Mine.important_thing.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name=".Mine.important_thing.AlarmService02"
            android:enabled="true" />

        <provider
            android:name=".Mine.important_thing.ReminderContentProvider"
            android:authorities="com.example.thememorandum"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="LentItemsProvider"
            android:readPermission="com.example.thememorandum.READ"
            android:writePermission="com.example.thememorandum.WRITE" />
    </application>

</manifest>